<div class="leaderboard-wrapper">
    <div class="leaderboard-actions">
        <h2>Active</h2>
        <countdown-btn
            [buttonText]="'Refresh'"
            [countingText]="'Refresh'"
            (onButtonPress)="this.buildCharacterList()"></countdown-btn>
    </div>

    <page-loader *ngIf="isLoading"></page-loader>

    <ng-container *ngIf="!isLoading">
        <ng-container *ngFor="let char of characterList; let index = index">
            <leaderboard-tile
                [character]="char"
                [index]="index + 1"
                [compFinished]="hasCompFinished"></leaderboard-tile>
        </ng-container>

        <div class="graveyard-actions">
            <h2>Graveyard</h2>

            <ng-container *ngFor="let char of graveyard; let index = index">
                <leaderboard-tile [character]="char"></leaderboard-tile>
            </ng-container>
        </div>
    </ng-container>
</div>
