@use '../../styles/helpers/colours' as c;

.leaderboard-wrapper {
    flex-grow: 1;
    margin: 3rem 5rem;
    overflow-y: scroll;
    max-height: calc(100vh - 60px);
    -ms-overflow-style: none;
    scrollbar-width: none;

    ::-webkit-scrollbar {
        display: none;
    }

    .leaderboard-actions {
        h2 {
            font-size: 2.5rem;
            margin-bottom: 1rem;
            margin-top: 0;
        }

        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    .graveyard-actions {
        margin-top: 5rem;

        h2 {
            font-size: 2.5rem;
            margin-bottom: 2rem;
            margin-top: 0;
        }
    }
}

@media only screen and (max-width: 950px) {
    .leaderboard-wrapper {
        margin: 1rem;
        overflow-y: scroll;
        max-height: calc(100vh - 60px);
        -ms-overflow-style: none;
        scrollbar-width: none;

        .leaderboard-actions {
            margin-top: 1rem;

            h2 {
                font-size: 2rem !important;
                margin-bottom: 1rem !important;
                margin-top: 0 !important;
            }
        }

        .graveyard-actions {
            margin-top: 3rem;

            h2 {
                font-size: 2rem !important;
                margin-bottom: 2rem !important;
                margin-top: 0 !important;
            }
        }

        .main-logo {
            height: 240px;
        }

        .rules-wrapper {
            display: none !important;
        }
    }
}
