@use '../../styles/helpers/colours' as c;

.leaderboard-wrapper {
    flex-grow: 1;
    margin: 3rem 5rem;
    overflow-y: scroll;
    overflow: hidden; /* Hide scrollbars */

    .leaderboard-actions {
        h1 {
            font-size: 3rem;
            margin: 0;
        }

        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    .graveyard-actions {
        margin-top: 5rem;
    }
}
