/* Fonts */
$primary-font: 'Open Sans', sans-serif;

/* Colour palette */
$bg: #272727;
$dark-bg: #141416;
$grey-bg: #c4c4c4;

$gold: #fb3;
$silver: #9292a5;
$bronze: #cd7f32;

$light-red: #e72626;
$dark-red: #9e1e20;

$green: #23c805;
$dark-green: #1b7e00;

$body-font: #f0d0d0;

$druid: #ff7c0a;
$hunter: #aad372;
$mage: #3fc7eb;
$paladin: #f48cba;
$priest: #ffffff;
$rogue: #fff468;
$shaman: #0070dd;
$warlock: #8788ee;
$warrior: #c69b6d;

$horde: #e02929;
$alliance: #69f;

$poor-item: #9d9d9d;
$common-item: #ffffff;
$uncommon-item: #1eff00;
$rare-item: #0070dd;
$epic-item: #a335ee;
