/* Fonts */
$primary-font: 'Open Sans', sans-serif;

/* Colour palette */
$bg: #272727;
$grey-bg: #c4c4c4;

$body-font: #f0d0d0;

$druid: #ff7c0a;
$hunter: #aad372;
$mage: #3fc7eb;
$paladin: #f48cba;
$priest: #ffffff;
$rogue: #fff468;
$shaman: #0070dd;
$warlock: #8788ee;
$warrior: #c69b6d;

$horde: #e02929;
$alliance: #69f;
