@use '../../../../styles/helpers/colours' as c;

.armoury {
    display: grid;
    grid-template-columns: 84px 1fr;
    background: c.$dark-bg;
    margin-bottom: 1rem;

    .banner {
        border-right: 2px solid c.$dark-red;
        border-left: 2px solid c.$dark-red;
    }

    .loading-container {
        width: 94%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0rem;
    }

    .content {
        display: flex;
        justify-content: space-between;

        .equipment {
            display: flex;
            padding: 1rem 0;
            margin-left: 2rem;

            .armour {
                display: flex;
                margin-right: 2rem;
            }

            .weapons {
                display: flex;
            }
        }

        .stats {
            margin-right: 1rem;
        }
    }
}

@media only screen and (max-width: 1365px) {
    .armoury {
        display: grid;
        grid-template-columns: 39px 1fr;

        .content {
            flex-direction: column;

            .equipment {
                display: flex;
                padding: 1rem 0;
                margin-left: 1rem;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                width: 91%;
                margin-right: 0;

                .weapons {
                    margin-top: 0.5rem;
                }
            }

            .stats {
                margin-left: 1rem;
                padding-bottom: 1rem;
            }
        }
    }
}
