<div class="sidebar">
    <img
        class="main-logo"
        src="/assets/img/hc-logo.webp"
        alt="WoW Classic HC SSF Dubz Championship" />

    <div class="rules-wrapper">
        <div class="top-content">
            <countdown-timer></countdown-timer>

            <div class="prize-pool">
                <h2>Prize pool</h2>
                <h4>{{ prizePool }}</h4>
                <button class="btn-sm" (click)="onConvert()">
                    <span class="material-symbols-outlined">autorenew</span>
                    Convert
                </button>
            </div>
        </div>

        <div class="main-rules">
            <h3>
                <span class="material-symbols-outlined">info</span>
                Information
            </h3>
            <ul>
                <li>£10 entry</li>
                <li>Stitches EU</li>
                <li>Highest level alive character wins</li>
                <li>RestedEXP addon is banned</li>
                <li>Ends 25th December 2024</li>
            </ul>
        </div>
    </div>
</div>
