@use '../../../styles/helpers/colours' as c;

.tile {
    display: flex;
    align-items: center;
    background: #141416;
    border-radius: 7px;
    padding: 1rem;

    .position {
        margin: 0 3rem 0 2rem;

        h1 {
            margin: 0;
            font-size: 2rem;
        }
    }

    .character-portrait {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .character-avatar {
            height: 84px;
            width: 84px;
            border-radius: 50px;
            margin-right: 2rem;
        }

        .rare-portrait {
            position: absolute;
            height: 100px;
            position: absolute;
            height: 129px;
            top: -14px;
            left: -53px;
        }
    }

    .character-info {
        h4 {
            font-size: 1.6rem;
            margin: 0rem;
        }
        span {
            display: block;
        }
    }
}

.Druid {
    color: c.$druid;
}
.Hunter {
    color: c.$hunter;
}
.Mage {
    color: c.$mage;
}
.Paladin {
    color: c.$paladin;
}
.Priest {
    color: c.$priest;
}
.Rogue {
    color: c.$rogue;
}
.Shaman {
    color: c.$shaman;
}
.Warlock {
    color: c.$warlock;
}
.Warrior {
    color: c.$warrior;
}

.Horde {
    color: c.$horde;
}
.Alliance {
    color: c.$alliance;
}
