@use '../../../styles/helpers/colours' as c;

.tile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
    background: c.$dark-bg;
    cursor: pointer;

    &.mb {
        margin-bottom: 1rem;
    }

    &.first {
        border: 1px solid c.$gold;
    }

    &.second {
        border: 1px solid c.$silver;
    }

    &.third {
        border: 1px solid c.$bronze;
    }

    .left-panel {
        display: flex;

        .position {
            margin: 0 2rem 0 0;

            .badge {
                background: c.$dark-bg;
                padding: 0.5rem 0rem;
                border: 2px solid c.$dark-red;
                border-top: 0;
                border-bottom: 0;
                color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                font-family: 'Metamorphous';
                width: 80px;

                img {
                    height: 62px;
                    margin-bottom: 0.2rem;
                }
            }
        }

        .character-portrait {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .character-avatar {
                height: 80px;
                width: 80px;
                margin-right: 2rem;
                border: 3px solid #4b4b4b;
                border-radius: 47px;
            }

            .rare-portrait {
                position: absolute;
                height: 100px;
                position: absolute;
                height: 129px;
                top: -14px;
                left: -53px;
            }
        }

        .character-info {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h4 {
                font-size: 1.6rem;
                margin: 0rem;
            }
            span {
                display: block;
            }
        }
    }

    .right-panel {
        font-size: 1.4rem;

        .last-connected,
        .character-ssf,
        .character-status {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            font-style: italic;

            span {
                margin-right: 0.5rem;
                font-size: 1.4rem;
            }
        }

        .character-ssf {
            color: #1b7e00;
            font-style: normal;
        }

        .character-status {
            color: c.$green;
            font-style: normal;
            font-weight: 600;

            &.dead {
                color: c.$light-red;
            }
        }
    }
}

@media only screen and (max-width: 950px) {
    .tile {
        padding-right: 1rem;

        .position {
            margin: 0 1rem 0 0 !important;

            .badge {
                font-size: 1.2rem;
                padding: 0.5rem !important;
                width: 25px !important;

                img {
                    height: 30px !important;
                }
            }
        }

        .character-portrait {
            .character-avatar {
                height: 45px !important;
                width: 45px !important;
                margin-right: 1rem !important;
                border: 2px solid #f0d0d0 !important;
            }
        }

        .character-info {
            font-size: 1rem;

            h4 {
                font-size: 1.2rem !important;
            }
        }

        .right-panel {
            font-size: 1rem !important;

            .character-status,
            .character-ssf,
            .last-connected {
                line-height: 1.5rem;

                span {
                    margin-right: 0.5rem;
                    font-size: 1.2rem !important;
                }
            }
        }
    }
}

.Druid {
    color: c.$druid;
}
.Hunter {
    color: c.$hunter;
}
.Mage {
    color: c.$mage;
}
.Paladin {
    color: c.$paladin;
}
.Priest {
    color: c.$priest;
}
.Rogue {
    color: c.$rogue;
}
.Shaman {
    color: c.$shaman;
}
.Warlock {
    color: c.$warlock;
}
.Warrior {
    color: c.$warrior;
}

.Horde {
    color: c.$horde;
}
.Alliance {
    color: c.$alliance;
}
