<div class="tile" (click)="onCharacterSelect()" [ngClass]="{ mb: !showArmory }">
    <div class="left-panel">
        <div class="position">
            <div class="badge">
                <img [src]="badge.img" alt="" />
                {{ badge.roman }}
            </div>
        </div>

        <div class="character-portrait">
            <img
                class="character-avatar"
                [src]="avatarSrc"
                [alt]="character.name" />
        </div>

        <div class="character-info">
            <h4 [ngClass]="character.faction.name.en_GB">
                {{ character.name }}
            </h4>
            <span [ngClass]="character.character_class.name.en_GB">
                {{ character.level }}
                {{ character.character_class.name.en_GB }}</span
            >
            <span [ngClass]="character.faction.name.en_GB">{{
                character.race.name.en_GB
            }}</span>
        </div>
    </div>

    <div class="right-panel">
        <div class="character-status" [ngClass]="{ dead: character.is_ghost }">
            <span *ngIf="!character.is_ghost" class="material-symbols-outlined"
                >check_circle</span
            >

            <span *ngIf="character.is_ghost" class="material-symbols-outlined"
                >cancel</span
            >
            {{ character.is_ghost | isDead }}
        </div>

        <div class="character-ssf">
            <span class="material-symbols-outlined">check_circle</span>
            {{ character.is_self_found | isSSF }}
        </div>

        <div class="last-connected">
            <span class="material-symbols-outlined">schedule</span>
            {{ character.last_login_timestamp | date : 'HH:mm - dd/MM/yyyy' }}
        </div>
    </div>
</div>

@if (showArmory) {
<ng-container>
    <leaderboard-armoury [selectedCharacter]="character"></leaderboard-armoury>
</ng-container>
}
